body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.3rem;
    display: flex;
}

/*Grid-template */

#grid-container{
    display: grid;
    grid-template-areas: "nav" "main" "footer";
    grid-column: 1;
    
}

body{
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    
}

header{
    width: 100%;
    grid-area: nav;
    height: fit-content;
    background-color:#FFF8E7;
}

.navbar{
    display: none;
}

.newsletter-nav{
    display: none;
}

.newsletter-button{
    display: none;
    
}

.responsive{
    display: flex;
    flex-direction: column;
    top: 2.5em;
    background-color:#FFF8E7;
    color: #A67B5B;
    text-transform: uppercase;
    padding: 0;
    font-weight: 700;
    height:fit-content;
    margin-right: 5%;
    margin-left: 5%;
}

#logo{
    font-size: 20px;
    font-family: fantasy;
    font-weight: 500;
    text-decoration: none;
    color: #A67B5B;
}

.ul-nav-mobile{
    justify-content: space-between;
    float: right;
    list-style: none;
    margin: 0%;
    text-decoration: none;
    font-size: 20px;
}

.search{
    display: none;
}


.delivery-ul-mobile {
    height: fit-content;
    display: flex;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #A67B5B;
    color:#FFF8E7;
}

.delivery{
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    justify-content: center;
    list-style: none;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    font-size: 10px;
    text-transform: uppercase;
}

.navmenu{
    display: none;
    text-decoration: none;
}

main{ 
    grid-area: main;
}
    

.big-container-mobile{
    height: auto;
    position: relative;
}

.big-container-mobile img{
    padding-top: 5%;
    width: 100%;
}

.mobileHide{ 
    display: none;
}

.big-container-mobile .text {
    position: absolute;
    color:#A67B5B;
    width: fit-content;
    padding-inline-start: 20%;
    top: 100px;
    border-radius: 5px;
    font-size: 40px;
    opacity: 0.5;
}

.big-container-mobile .text1{
    position: absolute;
    color: #A67B5B;
    opacity: 0.5;
    width: 125px;
    right: 20px;
    bottom: 20px;
    font-size: 20px;
    text-align: end;
}

h2{
    margin: 0;
    display: flex;
    padding-top: 10%;
    color: #A67B5B;
    font-size: 20px;
    text-decoration: underline;
    justify-content: center;
    font-family: fantasy;
}

h3{
    margin: 0;
    display: flex;
    padding-top: 10%;
    padding-bottom: 5%;
    color: #A67B5B;
    font-size: 20px;
    text-decoration: underline;
    justify-content: center;
    font-family: fantasy;
    
}


#small-container-mobile{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
    justify-content: space-between;
    gap: 10px;
}

.small{
    width: 100px;
    height: 118px;
    padding-top: 1rem;
    border-radius: 50%;
}

.pris-og-navn{
    text-align: center;
    font-size: x-small;
   font-weight: 600;
   text-transform: uppercase;
   color: #A67B5B;
   
}

.medium-container-mobile{
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 5%;
   
    
}

.medium-container-mobile img{
    width: 100%;
    height: 350px;
}

.container-slider {
    padding-top: 9%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
 }
 
 .slider-wrapper {
     width: fit-content;
     height: fit-content;
     display: flex;
     flex-direction: row;
 }
 
 .slider {
     aspect-ratio: 16 / 9;
     overflow-x: auto;
     scroll-snap-type: x mandatory;
     scroll-behavior: smooth;
     box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
     border-radius: 0.5rem;
     height: 12em;
     width: 12em;
     display: flex;
     flex-direction: row;
 }
 
 .slider img {
     flex: 1 0 100%;
     scroll-snap-align: start;
     object-fit: cover;
     max-width: 100%; 
     height: auto; 
 }
 

.slider-nav a{
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background-color: #A67B5B;
    box-shadow: #A67B5B;
    transition: opacity ease 250ms;
    display: none;
}

.text-header-product{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 80%;
}

button{
    font-family: fantasy;
    justify-content: space-between;
    border-radius: 1rem;
    text-decoration: none;
    font-size: 25px;
    background-color: #A67B5B;
    color: #FFF8E7;
    border: #826046;
    margin-bottom: 0.5rem;

}

.text-p-product{
    color: #A67B5B;
    font-weight: 600;
}


footer{
    grid-area: footer;
    height: fit-content;
    width: 100%;
}


.footer-hr{
    margin: 0;
    border-bottom: 1px solid#A67B5B;
    width: 100%;
}


.footer-ul{
    padding-left: 0%;
    list-style: none;
}

.footer-li{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    padding-inline: 10px;
}

.text-footer{
    color: #A67B5B;
    font-weight: 600;
    font-size: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}


.text-news-sort{
    font-size: 30px;
    margin: 0;
    color: #A67B5B;
}

h1{
    margin: 2%;
    font-size: 35px;
    margin: 0;
    padding-top: 20px;
    font-family: fantasy;
    font-weight: 200;
    color: #A67B5B;
    
}

.category-desktop{
    display: none;
}

.footer-ul2{
    display: none;
}

.footer-small-text{
    display: none;
}

@media (min-width: 550px) and (max-width:1100px){

    #grid-container{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "nav nav nav" 
        "main main main"
        "footer footer footer";
    }

    main{ 
        grid-area: main;
        display: flex;
        flex-wrap: wrap;
        margin: 1.5rem;
    }

    body{
        background-color: #FFFFFE;
    }

    header {
        grid-area: nav;
        width: 100%;
        font-size: 50px;
        background-color: #FFF8E7;
        display: block;
    } 

    .newsletter-nav{
        height: fit-content;
        font-size: 30%;
        text-transform: uppercase;
        display: flex;
        gap: 5%;
        background-color: #826046;
        color:#FFF8E7;
        justify-content: center;
    }
    
    .newsletter-button{
        display: inline;
        border-radius: 0;
        font-size: 15px;
        height: fit-content;
        width: fit-content;
        
    }

    .responsive{
        font-size: 20px;
    }

    #logo{
        font-size: 40px;
        font-weight: 900;
    }

    #ham{
        font-size: 40px;
    }

    
    nav{
        grid-area: nav; 
    }
   
    .ul-nav-mobile{
        padding: 0;
        display: flex;
        font-size: 30px;
        text-decoration: none;
        justify-content: space-around;
    }

    .fa-solid.fa-magnifying-glass{
        display: none;
    }

    .delivery{
        display: none;
    }

    .search{
        display: inline;
        width: 100%;
        border-color: #A67B5B;
    }
    
    .topnav a.active {
        background-color: wheat;
        color: white;
        height: 20px;
    }

    .topnav input[type=text] {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;
    }

    .navmenu{
        display: inline;
        text-decoration: none;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 40%;
        padding-top: 10px;
        padding-right: 10%;
        padding-left: 10%;
        text-transform: uppercase;
        color:#FFF8E7;
        background-color:#a67b5bdd;
        opacity: 0.7;
        height: 40px;
        margin: 0;
        font-weight: 600;
        
    }

    .mobileHide{
        display:inline;
        width: 49%;
        height: 600px;
    
    }

    .big-container-mobile{

        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    .big-container-mobile img{
        width: 49%;
        height: 600px;
       
    }

    .big-container-mobile .text {
        position: absolute;
        color:#A67B5B;
        width: 20%;
        font-size: 60px;
        font-weight: 900;
        text-align: center;
        opacity: 0.7;   
    }
    
    .big-container-mobile .text1{
        margin: 0;
        position: absolute;
        color:wheat;
        width: 35%;
        font-size: 50px;
        font-weight: 500;
        font-style: oblique;
        font-family:fantasy;
        opacity: 4;  
    }

    .small{
        width: 260px;
        height: 260px;
        border-radius: 0;
    }
    
    #small-container-mobile{
        padding-top: 5%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }    
    
    .pris-og-navn{
        text-align: center;
        font-size: 20px;
       font-weight: 600;
       font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       text-transform: uppercase;
       color: #A67B5B;
       
    }

    .medium-container-mobile{
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        gap: 5%;
    }

    h2{
        width: 100%;
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
    
    h3{
        width: 100%;
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
    
    .medium-container-mobile img{
        display: flex;
        flex-wrap: wrap;
        width: 360px;
        height: 400px;
    }

     .container-slider {
      padding-top: 7%;
      padding-bottom: 7%;
      width: 300px;
      height: 400px;
      display: flex;
      justify-content: left;
      flex-direction: row;
      flex-wrap: wrap;
    }
 
     .slider-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: row;
    }
 
    .slider {
     aspect-ratio: 16 / 9;
     overflow-x: auto;
     scroll-snap-type: x mandatory;
     scroll-behavior: smooth;
     box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
     border-radius: 0.5rem;
     display: flex;
     flex-direction: row;
     width: 300px;
     height: 350px;
    }
 
    .slider img {
     flex: 1 0 100%;
     scroll-snap-align: start;
     object-fit: cover;
    }

    .slider-nav a{
        width: 0.75rem;
        height: 0.75rem;
        border-radius: 50%;
        background-color: #A67B5B;
        box-shadow: #A67B5B;
        transition: opacity ease 250ms;
        display: none;
    }

    .slider-nav a:hover {
        opacity: 1;
    }

    .text-header-product{
        display: flex;
        flex-direction: column;
        gap: 20px;
        display: flex;
        flex-wrap: wrap;
        font-size: 15px;
        height: fit-content;
        width: 45%;
        padding-top: 5%;
        padding-left: 5%;
    }

    .text-p-product{
        justify-content: left;
        display: flex;
        flex-wrap: wrap;
        color: #A67B5B;
        font-weight: 600;
    }
    
    button{
        display: flex;
        font-family: fantasy;
        border-radius: 1rem;
        text-decoration: none;
        font-size: 30px;
        background-color: #A67B5B;
        color: #FFF8E7;
        border: #826046;
        margin: 0;
        
    }
    .button-section{
        justify-content: space-around;
        width: 100%;
        display: flex;
    }

    footer{
        display: inline;
        grid-area: footer;
        height:fit-content;
    }

    .footer-ul{
        display: flex;
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;
    }

    .footer-li{
        width: 100%;
        font-size: 40px;
    }

    .footer-ul2{
        font-size: 60px;
        width: 100%;
        display: flex;
        margin-top: 30px;
        justify-content: center;
        gap:15%;
    }

    .footer-small-text{
        font-size: 15%;
        margin-bottom: 15px;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 15%;
        font-size: 25px;
        color: #A67B5B;
   }

    .text-footer{
        font-size: 30px;
     }
    
     .filter-news{
        width: 100%;
     }

     .h1-nyheter{
        font-size: 100px;
        font-family: fantasy;
        font-weight: 700;
     }

    .category-desktop{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .category-desktop img{
        width: 120px;
        height: 120px;
        border-radius: 50%;
       border-style: double;
       border-color: #826046;
       margin: 5%;
}

}


@media (min-width:1100px) and (max-width: 1500px){
    #grid-container{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
        "nav nav nav" 
        "main main main"
        "footer footer footer";
    }


    main{ 
        grid-area: main;
        display: flex;
        flex-wrap: wrap;
        margin: 3rem;
    }
    
    
    .newsletter-nav{
        height: 43px;
        font-size: 15px;
        text-transform: uppercase;
        display: flex;
        gap: 5%;
        background-color: #826046;
        color:#FFF8E7;
        justify-content: center;

       
    }
    
    .newsletter-button{
        display: flex;
        margin: 10px;
        border-radius: 0;
        font-size: 20px;
        height: fit-content;
        width: fit-content;
        
        
    }

    .ul-nav-mobile{
        padding-top: 5px;
        font-size: 30px;
        
    }

    .fa-solid.fa-magnifying-glass{
        display: none;
    }

    #logo{
        font-size: 40px;
        font-weight: 900;
    }

    #ham{
        font-size: 40px;
    }


    .delivery{
        display: none;
    }

    .search{
        display: inline;
        width: 100%;
        border-radius: 5%;
        border-color: #A67B5B;
    }
    
    .topnav a.active {
        background-color: wheat;
        color: white;
        height: 20px;
    }

    .topnav input[type=text] {
        float: right;
        padding: 6px;
        border: none;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 17px;
    }

    .navmenu{
        display: inline;
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 10px;
        padding-right: 10%;
        padding-left: 10%;
        text-transform: uppercase;
        color:#FFF8E7;
        background-color:#a67b5bdd;
        opacity: 0.7;
        height: 40px;
        margin: 0;
        font-weight: 600;
        
    }
   
    .mobileHide{
        width: 49%;
        display:inline;
    }

    .big-container-mobile{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }

    .big-container-mobile img{
        width: 49%;
    }

    .big-container-mobile .text {
        position: absolute;
        width: 25%;
        font-size: 60px;
        font-weight: 900;
        justify-content: space-around;
    }
    
    .big-container-mobile .text1{
        margin: 3%;
        position: absolute;
        color:wheat;
        width: 35%;
        font-size: 50px;
        font-weight: 500;
        font-style: oblique;
        font-family:fantasy;
        opacity: 4;  
    }

    .small{
        width: 340px;
        height: 340px;
        border-radius: 7%;
        padding-top: 15%;
        padding-bottom: 10%;
    }

    #small-container-mobile{
        padding-top: 5%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
    }    
    
    .pris-og-navn{
       text-align: center;
       font-size: 20px;
       font-weight: 600;
       font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
       text-transform: uppercase;
       color: #A67B5B;
    }

    .medium-container-mobile{
        width: 100%;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        flex-direction: row;
    }
    
    .medium-container-mobile img{
        display: flex;
        flex-wrap: wrap;
        width: 600px;
        height: 600px;
    }

    h2{
        width: 100%;
        font-size: 40px;
        display: flex;
        justify-content: center;
    }
    
    h3{
        width: 100%;
        font-size: 40px;
        display: flex;
        justify-content: center;
    }

    .container-slider {
        padding-top: 7%;
        padding-bottom: 7%;
        width: 500px;
        height: 500px;
        display: flex;
        justify-content: left;
        flex-direction: row;
        flex-wrap: wrap;
      }
   
       .slider-wrapper {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
      }
   
      .slider {
       aspect-ratio: 16 / 9;
       overflow-x: auto;
       scroll-snap-type: x mandatory;
       scroll-behavior: smooth;
       box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
       border-radius: 0.5rem;
       display: flex;
       flex-direction: row;
       width: 500px;
       height: 500px;
      }
   

     .slider img {
        flex: 1 0 100%;
        scroll-snap-align: start;
        object-fit: cover;
        height: auto; 
    }

     .text-header-product{
        display: flex;
        flex-direction: column;
        gap: 50px;
        display: flex;
        flex-wrap: wrap;
        font-size: 20px;
        height: fit-content;
        width: 45%;
        padding-top: 5%;
        padding-left: 5%;
    }

    .text-p-product{
        justify-content: left;
        display: flex;
        flex-wrap: wrap;
        color: #A67B5B;
        font-weight: 600;
    }
    
    button{
        display: flex;
        font-family: fantasy;
        font-size: 50px;
        border-radius: 1rem;
        text-decoration: none;
        background-color: #A67B5B;
        color: #FFF8E7;
        border: #826046;
        margin: 0;
        
    }
    .button-section{
        justify-content: space-around;
        width: 100%;
        display: flex;
    }

    .filter-news{
        width: 100%;
        height: fit-content;
     }

     .h1-nyheter{
        font-size: 100px;
        font-family: fantasy;

     }

    footer{
        width: 100%;
    }

     .footer-li{
        font-size: 40px;
    }

    .text-footer{
        font-size: 30px;
    }

    .footer-ul2{
        font-size: 60px;
        width: 100%;
        display: flex;
        margin-top: 30px;
        justify-content: center;
        gap:15%;
    }

    .footer-small-text{
        font-size: 15%;
        margin-bottom: 15px;
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 15%;
        font-size: 25px;
        color: #A67B5B;
   }

    .category-desktop{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    .category-desktop img{
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border-style: double;
        border-color: #826046;
        margin: 5%;
}




}